<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.vasken.hunkorjunk"
      android:versionCode="2"
      android:versionName="1.1">
      
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar">
        <activity android:name=".Vote" android:screenOrientation="portrait"  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- The application's publisher ID assigned by AdMob -->
        <meta-data android:value="a14be9f3bfe4317" android:name="ADMOB_PUBLISHER_ID" />
        <meta-data android:value="true" android:name="ADMOB_ALLOW_LOCATION_FOR_ADS" />
    </application>

<uses-sdk android:minSdkVersion="3" />

<!-- AdMob SDK permissions -->
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

</manifest> 